/* ================================
    HEADER STYLES
   ================================ */
   
.header-flex {
    display: flex;             /* Usar flexbox para la disposición */
    flex-direction: row;      /* Dirección de los elementos en fila */
    flex-wrap: wrap;          /* Permitir que los elementos se envuelvan */
    justify-content: space-between; /* Espaciado entre elementos */
    align-items: center;      /* Alinear elementos en el centro verticalmente */
    padding: 10px 80px;            /* Espaciado interno alrededor del encabezado */
}

.item-flex-description {
    flex: 3;                  /* Ocupa 1 partes del espacio disponible */
    flex-shrink: 1;           /* Permitir que el elemento se reduzca si es necesario */
}

.item-flex-img {
    margin: 15px;
    flex: 2;                  /* Ocupa 2 partes del espacio disponible */
}

/* ================================
        MAIN CONTAINR 
   ================================ */
.main-container {
    width: 100%;                /* Ocupa todo el ancho disponible */
    height: 100%;               /* Ocupa toda la altura disponible */
    display: grid;              /* Usamos Grid layout */
    grid-template-columns: 3fr 1fr;  /* 3 partes del contenido principal y 1 parte del lateral en pantallas grandes */
    gap: 20px;                  /* Espacio entre columnas */
    padding: 20px;              /*Aliner los item horizontalmente*/
    justify-items: center;
    box-sizing: border-box;     /* Incluir el padding en el ancho total */
}



/* ================================
        CONTAINER ADD COURSE
   ================================ */
.container-add-course {
    grid-row: 1 / span 3;             /* Ocupa varias filas en pantallas grandes */
    grid-column-start: 2;             /* Colocado en la segunda columna */
}




/* ================================
        ALL FLEX LIST
   ================================ */

.section-list-course {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 10px 25px;
}

.main-list-card {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px; /* Espacio entre las tarjetas */
    justify-items: center; /* Centra las columnas en el contenedor */
    width: 100%; /* Asegura que el grid ocupe todo el ancho */
}

.btn-more-less {
    display: flex;
    flex-direction: row;
}

/* ================================ 
        CARD COURSE ITEM 
   ================================ */

.card-course-item {
    display: flex;
    width: 300px;
    height: 100%; 
    min-height: 350px;
    flex-direction: column;
    justify-content: space-between; /* Espacia el contenido uniformemente */
    align-items: center; /* Centra el contenido dentro de cada tarjeta */
}



.img-course{
    flex: 3;
    width: 100%; /* Imagen ocupa todo el ancho disponible */
    height: 35px; 
}

.detail-course {
    flex: 1;
}

/* ================================
        LAST 5 ITEM
   ================================ */
.last-item {
    display: grid;
    flex-direction: row;
}
/* ================================
        FOOTER 
   ================================ */
   
.footer-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ================================
        MEDIA QUERIES
   ================================ */
@media (max-width: 768px) {
    .header-flex {
        flex-direction: column; /* Cambiar a columna en pantallas más pequeñas */
        align-items: flex-start; /* Alinear elementos al inicio */
    }

    /* 
        Hacer que los elementos ocupen el ancho completo 
    */
    .item-flex {
        width: 100%;             /* Ocupa el 100% del ancho del contenedor */
        margin: 10px 0;         /* Margen vertical entre elementos */
    }

    .p-header-description {
        text-align: center;     /* Centrar el texto de la descripción */
    }

    nav ul li {
        display: block;         /* Mostrar los elementos de la lista en bloque */
        margin: 10px 0;        /* Espaciado vertical entre elementos de la lista */
    }
}

@media (max-width: 768px) {
    .main-container {
        grid-template-columns: 1fr;   /*Una sola Column*/
        gap: 10px; /* Reduce el espacio entre columnas */
    }
    
    .container-add-course {
        grid-row: auto;                  /* Ajusta el tamaño de la fila automáticamente */
        grid-column-start: auto;            /* Mantén en la segunda columna */
    }
    


}
